PORT=4000
# Oracle Database Connection
ORACLE_CONNECTION_STRING=localhost:1521/XE
ORACLE_USER=system
ORACLE_PASSWORD=oracle
# Required for Oracle 10g (Thick Mode)
# Path to Oracle Instant Client directory (e.g. /opt/oracle/instantclient_19_10 or C:\oracle\instantclient_19_10)
ORACLE_LIB_DIR=
